* {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;


 }
html body{
  background-color: #1A202C;
  color: white;
  font-size: 0.8rem;
}
option {
  background-color: #4A5568;
}

